<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello</title>
</head>
<body>
  <p>hello {{ person }}, welcome to {{ address.city }}</p>
  <p>{{ undefinedField }}{{ aFilter person }}</p>
</body>
</html>